/Makefile
/aclocal.m4
/autom4te.cache
/.libs
*.in
*.lo
*.la
/config.h
/config.log
/config.status
/config.sub
/configure
/config.guess
/install-sh
/libtool
/ltmain.sh
/missing
/src/hubo_kin.f
/stamp-h1
